.header-link {
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  padding: 20px;
  font-size: 22px;
  text-decoration: none;
  margin-right: 15px;

  transition: all 0.3s;
}

.header-link.active {
  border: 1px solid white;
  background-color: black;
  color: white;
}
