.book {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  padding: 5px;
  border: 1px solid brown;
  margin-bottom: 20px;
  max-width: 212px;
}

.thumbWrapper {
}

.thumbImg {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  object-position: center;
}

.title {
  margin-top: 0;
  margin-bottom: 12px;
}

.author {
  margin-bottom: 8px;
}

.year {
}

.genre {
}
